/* app css stylesheet */

.error {
    color:red;
}

.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.nav-pills > li > a{
    font-size:small;
}

.list-button {
    background-color:#EFEFEF;
    display:block;
}

.list-button label {
    width: 90%;
    font-size:x-large;
}

.form-group label {
    font-size:large;
    font-family: sans-serif;
}


.list-button input:checked  {
    background-color:#ADD8E6;
    overflow:auto;
}


.btn-custom {
  background-color: hsl(201, 0%, 82%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4f4f4", endColorstr="#d1d1d1");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f4f4f4), to(#d1d1d1));
  background-image: -moz-linear-gradient(top, #f4f4f4, #d1d1d1);
  background-image: -ms-linear-gradient(top, #f4f4f4, #d1d1d1);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #d1d1d1));
  background-image: -webkit-linear-gradient(top, #f4f4f4, #d1d1d1);
  background-image: -o-linear-gradient(top, #f4f4f4, #d1d1d1);
  background-image: linear-gradient(#f4f4f4, #d1d1d1);
  border-color: #d1d1d1 #d1d1d1 hsl(201, 0%, 78.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.23);
  -webkit-font-smoothing: antialiased;
}

h2 a.ui-btn {
    font-size:28px;
}

.page-header, .ui-title {
   font-size: 32px;
   background-color: #E9DEFF;
   color: black;
   margin: 0;
}

.large-font {
    font-size: large;
}

.ui-listview li a {
    font-size: large;
}

a[retired="true"] {
    background-color: gray;
}


.ui-mobile label, .ui-block-a label {
    text-decoration: none;
    font-size: medium;
    font-weight:bold;
}

div.ui-controlgroup-label {
    width:100%;
    text-decoration: none;
    font-size: medium;
    font-weight:bold;
    
}    


.ui-field-contain .ui-controlgroup-label {
    float:left;
    width:100%;
    margin:.5em 2% 0 0;
}

.ui-page-theme-a.retired  .ui-btn {
    background-color:red;
}

.ui-navbar li .ui-btn {
    font-size: 16px;
    display: block;
    margin: 0;
    border-right-width: 0;
}


 
.ui-select .ui-btn-corner-all, .ui-btn.ui-corner-all, .ui-slider-track.ui-corner-all, .ui-flipswitch.ui-corner-all, .ui-li-count{
    font-size: 25px;
    line-height: 30px;
    font-family: sans-serif;
}

div.ui-mini.ui-btn .ui-btn-corner-all,.ui-btn.ui-corner-all {
    font-size:medium;
}



input[type=text], input[type=url], input[type=email], input[type=password], input[type=tel], input[type=date] {
  -webkit-appearance: none; -moz-appearance: none;
  display: block;
  margin: 0;
  width: 100%; height: 35px;
  line-height: 30px; font-size: 25px;
  border: 1px solid #bbb;
}



a {
	text-decoration: none;
	color: #33a7d2;
	font-size: 10px;
	font-weight:bold;
}


a:hover { text-decoration: underline; }

 

#wrapper {
	width: "100%";
	margin: 0 auto;
	background: #fff;
	border: 1px solid black;
	border-collapse:collapse;
}


.header {
	background: #E9DEFF;
	border-top: 1px solid black;
}

#header foo
{
    font: 14pt, "Times New Roman",Times, serif;
    color: #aaa;
    margin: 0;
    vertical-align:bottom;
    align:right;
}

#header small
{
    font: 8pt "Lucida Grande", "Bitstream Vera Sans", Verdana, sans-serif;
    color: #aaa;
    margin: 0;
    vertical-align:bottom;
}

#wordmark
{
    background: #007733;
    float: left;    
}

#wordmark img
{   
    width: 85%;
    color: #007733;
}

.right_bottom
{
float:middle;
vertical-align:bottom;
}


#links {
    right:0px;
    bottom: 0px;
    padding: 0px;
    margin: 0px;
}
	
#links li {
    display: block;
    float: right;
    line-height: 20px;
    margin-right: 0 px;
    vertical-align:bottom;
}

#links li a {
    color: #fff;
    display: block;
    padding: 0 1em;
    background: #003333;    
    float: right;
    vertical-align:bottom;
}


#inner {
	padding: 1em;
}



.data {
    color: #000000;
    text-align: right;
    background-color: #DDDDDD;

}

.toprow {
    font-style: italic;
    text-align: left;
    background-color: #FFFF;
}

.toprow_data {
    color: #000000;
    text-align: right;
    background-color: #CCCCCC;
}


hr.panel {
color: #f00;
background-color: #000;
height: 3px;
}

div.alt_bg_color {
background-color:#FFFFFF;
}


h3.banner {
font-size: 20px;
}

