<div ng-controller="LoginCtrl">

  <div class="container-fluid">
    <div><h3>Please log in:</h3>
      <label for="username">Username:</label><input type="text" name="username" id="username" ng-model="username"/><br/>
      <label for="password">Password:</label><input type="password" name="password" ng-model="password"/><br/>
      <input type="button" id="login" value="Login" ng-click="authenticate()"/>
      <br/>
      <br/>
      <div style="color:red">{{errors}}</div>
    </div>
  </div>
</div>
