
<form id="outreach_form" name="outreach_form" method='post'>

  <input auto-populate="True" id="uuid" name="patient_uuid" type="hidden"/>	     
  <input type='hidden' name='encounter_type_uuid' id="encounter_type_uuid" value="df5547bc-1350-11df-a1f1-0026b9348838"/>  
  <input type='hidden' name='form_uuid' id="form_uuid" value="1eb7938a-8a2a-410c-908a-23f154bf05c0"/>  
  <input type='hidden' name='defaulter_cohort_id' id="defaulter_cohort_id"/>

  
    <div data-role="navbar">
      <ul>
	<li><a href='' data-ajax="false" id='tabs-1-link'>Demographics</a></li>
	<li><a href='' data-ajax="false" id='tabs-2-link'>Phone Follow-up</a></li>
	<li><a href='' data-ajax="false" id='tabs-3-link'>Field Follow-up</a></li>
	<li><a href='' data-ajax="false" id='tabs-4-link'>If Found</a></li>
	<li><a href='' data-ajax="false" id='tabs-5-link'>Finish</a></li>
	<li><a onClick="viewPatientDashboard()" data-ajax="false" id="return_to_dashboard">Patient Dashboard</a></li>
      </ul>
    </div>

    
    <div id="tabs-1">
      <div class="form-group">
        <label for="encounter_datetime">Encounter Date:</label>
        <input id="encounter_datetime" name="encounter_datetime" 
	       type="date" required/>
      </div>
      <div>
	<label for="location_uuid">Clinic</label>
	<select id="location_uuid" name="location_uuid">
	  <option></option>
	</select>
      </div>
      
      <div class="form-group">
	<label for="phone_number">Phone:</label>
	<input auto-populate="True" id="phone_number" name="attr__72a759a8-1359-11df-a1f1-0026b9348838" type="tel"/>
      </div>
      <div class="form-group">
        <label for="missed_return_visit_date">Missed appointment date:</label>
        <input auto-populate="True" id="missed_return_visit_date" 
	       name="obs__a89e3896-1350-11df-a1f1-0026b9348838" value='' type="date"/>
      </div>
      <div>
	<label for="form_identifier">AMRS ID Number:</label>
	<input auto-populate="True" id="identifier"
	       name="identifier" type="text" readonly/>
      </div>
      <div class="form-group">
	<label for="family_name">Family Name:</label>
	<input auto-populate="True" id="family_name" name="patient.family_name" type="text"
	       readonly="readonly" value=""/>
      </div>
      <div class="form-group">
	<label for="given_name">Given Name:</label>
	<input auto-populate="True" id="given_name" name="patient.given_name" type="text"
	       readonly="readonly"/>
      </div>
      <div class="form-group">
	<label for="middle_name">Middle Name:</label>
	<input auto-populate="True" id="middle_name" name="patient.middle_name" type="text"
	       readonly="readonly" value=""/>
      </div>
      <div class="form-group">        
	<label for="gender">Gender:</label>
	<input auto-populate="True" type='text' id="gender" name="gender" readonly="readonly"/>
      </div>
      <div class="form-group">
	<label for="birthdate">Date Of Birth:</label>
	<input auto-populate="True" id="birthdate" name="patient.birthdate" type="text"
	       readonly="readonly" value=''/>
      </div>
      
      <div class="form-group">	   
        <label for="last_encounter_date">Last Encounter Date:</label>
        <input auto-populate="True" id="last_encounter_date" type="date" readonly/>
      </div>
      <div class="form-group">
        <label for="last_encounter_type">Last Encounter Type:</label>
        <input auto-populate="True" id="last_encounter_type" type="text" readonly size='50'/>
      </div>	
    </div>
    
    <div id="tabs-2">
      <div class="form-group">
	<label for="obs.number_of_call_attempts">Number of call attempts:</label>
	<select id="obs.number_of_call_attempts" type="text" name="obs__e6c52d7e-3e25-4a83-8f9c-55a03bdc653a">
	  <option></option>
	  <option>1</option>
	  <option>2</option>
	  <option>3</option>
	  <option>4</option>
	  <option>5</option>
	  <option value=6>More than 5</option>
	</select>
      </div>
      <div class="form-group">	
	<label for="contacted_by_phone">Was the patient contacted by phone?</label>
	<select class="form-control" id='contacted_by_phone' name="obs__2b90dbd2-8897-49fd-9784-e5999e7312fa" data-concept="9063^PATIENT CONTACTED BY PHONE^99DCT">
	  <option value=""></option>
    	  <option value='a899b35c-1350-11df-a1f1-0026b9348838' oldvalue='1065^Yes^99DCT'>Yes</option>
	  <option value='a89dec06-1350-11df-a1f1-0026b9348838' oldvalue='1560^PHONE NOT CONNECTING^99DCT'>No, phone not connecting</option>
	  <option value='a69cdbf7-edf0-4e4d-a4dc-1ff3bc771d5c' oldvalue='9064^NO PHONE NUMBER^99DCT'>No, phone number inactive</option>
	  <option value='1965eb6f-fc86-4f44-b3b8-59772b1daa20' oldvalue='9065^WRONG PHONE NUMBER^99DCT'>No, wrong phone number</option>
	  <option value='fdd18cec-11ba-4512-ab3c-b66066847f58' oldvalue='9066^NO RESPONSE ON PHONE CALL ATTEMPT^99DCT'>No, no one picks up</option>
          <option value='a8aaf3e2-1350-11df-a1f1-0026b9348838' oldvalue='5622^OTHER NON-CODED^99DCT'>No, a different reason</option>
	</select>
      </div>

      <div class="form-group">
	<label for="owner_of_phone">Who does the phone belong to? :</label>
	<select class="form-control" id="owner_of_phone" name="obs__47a5988a-e5f7-424e-96cc-3b34aeea3c1a" data-concept="7506^OWNER OF PHONE^99DCT">
	  <option value="">...</option>
 	  <option value='a899b35c-1350-11df-a1f1-0026b9348838' oldvalue="1065^YES^99DCT">Patient</option>
	  <option value="a89cd280-1350-11df-a1f1-0026b9348838" oldvalue="1410^CARETAKER^99DCT">Caregiver</option>
	  <option value="a8aaf234-1350-11df-a1f1-0026b9348838" oldvalue="5620^OTHER FAMILY MEMBER^99DCT">Family Member</option>
	  <option value="a8aaf07c-1350-11df-a1f1-0026b9348838" oldvalue="5618^FRIEND^99DCT">Friend</option>
	  <option value='a8aaf3e2-1350-11df-a1f1-0026b9348838' oldvalue='5622^OTHER NON-CODED^99DCT'>Other</option>
	</select>
      </div>
      <div class="form_group">
	<label for='refer_for_field_follow_up'>If not contacted, refer for field follow-up?</label>
        <select class="form-control" id='refer_for_field_follow_up' name="obs__3cef9756-ae0e-4b35-9ee2-b0fb96556971"
		data-concept="9067^REFER FOR FIELD FOLLOW-UP^99DCT">
	  <option><option>
	  <option value='a899b35c-1350-11df-a1f1-0026b9348838'  oldvalue='1065^Yes^99DCT'>Yes</option>
	  <option value='a89de526-1350-11df-a1f1-0026b9348838' oldvalue='1551^DISTANCE TOO FAR^99DCT'>No, in catchment but distant too far</option>
          <option value='83df5f26-f97a-4cda-9c05-d0bdc6e4ebee' 
		  oldvalue='6834^OUT OF AMPATH CATCHMENT AREA^99DCT'>No, out of catchment area</option>
	  <option value='a89decc4-1350-11df-a1f1-0026b9348838' oldvalue='1561^INADEQUATE LOCATOR INFORMATION^99DCT'>No, locator inadequate</option>	  
	</select>
      </div>
    </div>

    <div id='tabs-3'>
      <div class="form-group">
        <label for="contacted_in_field">Was the patient found?:</label>
	<select class="form-control" id="contacted_in_field" name="obs__3cef9756-ae0e-4b35-9ee2-b0fb96556971">
	  <option></option>
	  <option value='true'>Yes</option>
	  <option value='false'>No</option>
	</select>
      </div>
      <div class="form-group">
        <label for="reason_not_found_in_field">If not found, reason:</label>
	<select class="form-control" id="reason_not_found_in_field" name="obs__a89de5e4-1350-11df-a1f1-0026b9348838" 
		data-concept="1552^NOT FOUND, REASONS^99DCT">
	  <option value=""></option>
 	  <option value='a89decc4-1350-11df-a1f1-0026b9348838' 
		  oldvalue="1561^LOCATOR INFORMATION INADEQUATE^99DCT">Locator information inadequate</option>
	  <option value='a89ded8c-1350-11df-a1f1-0026b9348838' 
		  oldvalue="1562^RELOCATED^99DCT">Patient moved away</option>
	  <option value = 'a89de21a-1350-11df-a1f1-0026b9348838'
		  oldvalue="1547^WORK OR SCHOOL^99DCT">Patient at work</option>
	  <option value='a89dee54-1350-11df-a1f1-0026b9348838'
		  oldvalue="1563^NOT AT HOME^99DCT">Patient not at home</option>
	  <option value='a89ef826-1350-11df-a1f1-0026b9348838'
		  oldvalue="1739^ROAD IMPASSABLE^99DCT">Road impassable</option>
	  <option value='a8aaf3e2-1350-11df-a1f1-0026b9348838'
		  oldvalue="5622^OTHER NON-CODED^99DCT">Other</option>
	</select>
      </div>	    
      <div class="form-group">
	<label for="obs.number_of_days_of_remaining_arv_medication">Does the patient have medications remaining? If yes, # of days worth:</label>
	<input id="obs.number_of_days_of_remaining_arv_medication" type="text" 
	       name="obs__a89fe006-1350-11df-a1f1-0026b9348838"/>
      </div>
    </div>
    <div id='tabs-4'>
      <div class="form-group"> 
	<label for="date_found">Date Found:</label>
        <input id="date_found" name="obs__a89df246-1350-11df-a1f1-0026b9348838" type="date"></input>	       
      </div>
      <div class="form-group">
        <label for="location_of_contact">Location of contact:</label>
	<select class="form-control" id="location_of_contact" 
		name="obs__a89df30e-1350-11df-a1f1-0026b9348838" data-concept="1569^LOCATION OF CONTACT^99DCT">
	  <option value="">...</option>
 	  <option value="a89df17e-1350-11df-a1f1-0026b9348838" oldvalue="1567^HOME^99DCT">Home</option>
	  <option value="a8a087c2-1350-11df-a1f1-0026b9348838" oldvalue="1947^WORK^99DCT">Work</option>
	  <option value="a89de832-1350-11df-a1f1-0026b9348838" oldvalue="1555^PHONE^99DCT">Phone</option>
	  <option value="a89f03ac-1350-11df-a1f1-0026b9348838" oldvalue="1749^SCHOOL^99DCT">School</option>
	  <option value="a8a01a4e-1350-11df-a1f1-0026b9348838" oldvalue="1873^DATA PROVIDED BY AMAPATH RECORDS^99DCT">Patient File</option>
	  <option value="a8aaf3e2-1350-11df-a1f1-0026b9348838" oldvalue="5622^OTHER NON-CODED^99DCT">Other</option>
	</select>
      </div>
      <div data-role="ui-field-contain" id="reason_missed_div">
	<fieldset data-role="controlgroup">
	  <legend>Reason for Missed Visit:</legend>
      	  <input name="obs__a89ef11e-1350-11df-a1f1-0026b9348838" id='obs.reason_for_missed_visit.deceased' 
		 type='checkbox' value='a89335d6-1350-11df-a1f1-0026b9348838' oldvalue='159^DECEASED^99DCT' class="custom" data-mini="true"/>
    	  <label for='obs.reason_for_missed_visit.deceased'>Deceased </label>  
	   	  
	  <input name="obs__a89ef11e-1350-11df-a1f1-0026b9348838" id='obs.reason_for_missed_visit.ampath_clinic_transfer' 
	 	 type='checkbox' value='a89ef060-1350-11df-a1f1-0026b9348838' oldvalue='1732^AMPATH CLINIC TRANSFER^99DCT' class="custom" data-mini="true"/>
    	  <label for='obs.reason_for_missed_visit.ampath_clinic_transfer'>Transferred Clinic</label>  
	  
	  <input name="obs__a89ef11e-1350-11df-a1f1-0026b9348838" id='obs.reason_for_missed_visit.work_commitments' type='checkbox' 
		 value="a89e2a54-1350-11df-a1f1-0026b9348838" oldvalue='1577^WORK COMMITMENTS^99DCT' class="custom" data-mini="true"/>
    	  <label for='obs.reason_for_missed_visit.work_commitments'>Work Committments</label>  
	  
	  
	  <input name="obs__a89ef11e-1350-11df-a1f1-0026b9348838" id='obs.reason_for_missed_visit.family_commitments' type='checkbox' 
		 value='a89e291e-1350-11df-a1f1-0026b9348838' oldvalue='1576^FAMILY COMMITMENTS^99DCT' class="custom" data-mini="true"/>
    	  <label for='obs.reason_for_missed_visit.family_commitments'>Family Committments</label>  
	  
	  <input name="obs__a89ef11e-1350-11df-a1f1-0026b9348838" id='obs.reason_for_missed_visit.transport_costs' type='checkbox' 
		 value="a89e2b30-1350-11df-a1f1-0026b9348838" oldvalue='1578^TRANSPORT COSTS^99DCT' class="custom" data-mini="true"/>
    	  <label for='obs.reason_for_missed_visit.transport_costs'>Transport Costs</label>  
	  
	  <input name="obs__a89ef11e-1350-11df-a1f1-0026b9348838" id='obs.reason_for_missed_visit.did_not_miss_appointment' type='checkbox' 
		 value="a89e26d0-1350-11df-a1f1-0026b934883" oldvalue='1574^DID NOT MISS APPOINTMENT^99DCT' class="custom" data-mini="true"/>
    	  <label for='obs.reason_for_missed_visit.did_not_miss_appointment'>Did not actually miss appointment</label>  
	  
	  <input name="obs__a89ef11e-1350-11df-a1f1-0026b9348838" id='obs.reason_for_missed_visit.school_commitments' type='checkbox' 
		 value="a8a08e7a-1350-11df-a1f1-0026b9348838" oldvalue='1956^SCHOOL COMMITMENTS^99DCT' class="custom" data-mini="true"/>
    	  <label for='obs.reason_for_missed_visit.school_commitments'>School Committments</label>  
	  
	  <input name="obs__a89ef11e-1350-11df-a1f1-0026b9348838" id='obs.reason_for_missed_visit.travel' type='checkbox' 
		 value="a89de152-1350-11df-a1f1-0026b9348838" oldvalue='1546^TRAVEL^99DCT' class="custom" data-mini="true"/>
    	  <label for='obs.reason_for_missed_visit.travel'>Travelled</label>  
	  
	  <input name="obs__a89ef11e-1350-11df-a1f1-0026b9348838" id='obs.reason_for_missed_visit.insecurity' type='checkbox' 
		 value="a8a08cfe-1350-11df-a1f1-0026b9348838" oldvalue='1954^INSECURITY^99DCT' class="custom" data-mini="true"/>
    	  <label for='obs.reason_for_missed_visit.insecurity'>Insecurity</label>  
	  
	  <input name="obs__a89ef11e-1350-11df-a1f1-0026b9348838" id='obs.reason_for_missed_visit.forgot_appointment' type='checkbox' 
		 value="a89e27f2-1350-11df-a1f1-0026b9348838" oldvalue='1575^FORGOT APPOINTMENT^99DCT' class="custom" data-mini="true"/>
    	  <label for='obs.reason_for_missed_visit.forgot_appointment'>Forgot appointment</label>  
	  
	  <input name="obs__a89ef11e-1350-11df-a1f1-0026b9348838" id='obs.reason_for_missed_visit.health_issues' type='checkbox' 
		 value="a89de2d8-1350-11df-a1f1-0026b9348838" oldvalue='1548^HEALTH ISSUES^99DCT' class="custom" data-mini="true"/>
    	  <label for='obs.reason_for_missed_visit.health_issues'>To ill to come</label>  
	  
	  <input name="obs__a89ef11e-1350-11df-a1f1-0026b9348838" id='obs.reason_for_missed_visit.hiv_disclosure' type='checkbox' 
		 value="a89ecaa4-1350-11df-a1f1-0026b9348838" oldvalue='1688^HIV DISCLOSURE^99DCT' class="custom" data-mini="true"/>
    	  <label for='obs.reason_for_missed_visit.hiv_disclosure'>Disclosure Issues</label>  
	  
	  <input name="obs__a89ef11e-1350-11df-a1f1-0026b9348838" id='obs.reason_for_missed_visit.in_good_health' type='checkbox' 
		 value="81033c9e-80d4-445a-9899-3a6a9c9520ee" oldvalue='9070^IN GOOD HEALTH^99DCT' class="custom" data-mini="true"/>
    	  <label for='obs.reason_for_missed_visit.in_good_health'>Had medications and felt well</label>  
	  
	  <input name="obs__a89ef11e-1350-11df-a1f1-0026b9348838" id='obs.reason_for_missed_visit.family_conflict' type='checkbox' 
		 value="ec9227a3-d078-4ed0-bdc3-e8328a9e549e" oldvalue='9075^FAMILY CONFLICT^99DCT' class="custom" data-mini="true"/>
    	  <label for='obs.reason_for_missed_visit.family_conflict'>Family conflict</label>  
	  
	  <input name="obs__a89ef11e-1350-11df-a1f1-0026b9348838" id='obs.reason_for_missed_visit.conflicting_return_to_clinic_dates' 
		 type='checkbox' value="04b9e1ce-3463-495b-9c08-7a1a2db779ba" oldvalue='9076^CONFLICTING RETURN TO CLINIC DATES^99DCT' class="custom" data-mini="true"/>
    	  <label for='obs.reason_for_missed_visit.conflicting_return_to_clinic_dates'>Patient given different date than in AMRS</label>  
	  
	  <input name="obs__a89ef11e-1350-11df-a1f1-0026b9348838" id='obs.reason_for_missed_visit.admitted_to_hospital' type='checkbox' 
		 value="057dae68-3d6f-4d79-926c-ed75a0ce7fd5" oldvalue='6419^ADMITTED TO HOSPITAL^99DCT' class="custom" data-mini="true"/>
    	  <label for='obs.reason_for_missed_visit.admitted_to_hospital'>Patient was admitted</label>  
          
	  <input name="obs__a89ef11e-1350-11df-a1f1-0026b9348838" id='obs.reason_for_missed_visit.refusal' type='checkbox' 
		 value="a89d25fa-1350-11df-a1f1-0026b9348838" oldvalue='1504^REFUSAL^99DCT' class="custom" data-mini="true"/>
    	  <label for='obs.reason_for_missed_visit.refusal'>Patient Refused</label>  
	  
	  <input name="obs__a89ef11e-1350-11df-a1f1-0026b9348838" id='obs.reason_for_missed_visit.other_non_coded' type='checkbox' 
		 value="a8aaf3e2-1350-11df-a1f1-0026b9348838" oldvalue='5622^OTHER NON-CODED^99DCT' class="custom" data-mini="true"/>
    	  <label for='obs.reason_for_missed_visit.other_non_coded'>Other</label>  
	  
        </fieldset>	
      </div>

      <div data-role="fieldcontain">
	<fieldset data-role="controlgroup">
	  <legend>If deceased:</legend>
	  <div class="form-group">
	    <label for="date_of_death">Death date:</label>
	    <input class="form-control datepicker" data-concept="1570^DATE OF DEATH^99DCT" id="date_of_death" 
		   name="obs__a89df3d6-1350-11df-a1f1-0026b9348838" type="date"/>               
	    
	  </div>
	  <div class="form-group">
	    <label for="cause_for_death">Cause of death:</label>	    
	    <select class="form-control" id="cause_for_death" name="obs__a89df750-1350-11df-a1f1-0026b9348838" 
		    data-concept="1573^CAUSE FOR DEATH^99DCT">
	      <option value="">...</option>
              <option value="a89de2d8-1350-11df-a1f1-0026b9348838" oldvalue="1548^HEALTH ISSUES^99DCT">Illness</option>
 	      <option value="a89df49e-1350-11df-a1f1-0026b9348838" oldvalue="1571^SUICIDE^99DCT">Suicide</option>
              <option value="a890bfcc-1350-11df-a1f1-0026b9348838" oldvalue="84^ACCIDENT, NOT OTHERWISE SPECIFIED^99DCT">Accident</option>
              <option value="a89df67e-1350-11df-a1f1-0026b9348838" oldvalue="1572^MURDER^99DCT">Murder</option>
	      <option value="a899b50a-1350-11df-a1f1-0026b9348838" oldvalue="1067^UNKNOWN^99DCT">Unknown</option>
	      <option value="a8aaf3e2-1350-11df-a1f1-0026b9348838" oldvalue="5622^OTHER NON-CODED^99DCT">Other</option>
	    </select>
	  </div>
	  <div class="form-group">
	    <label for="obs.death_reported_by">Reported by:</label>
	    <select class="form-control" id="obs.death_reported_by" name="obs__a89ef1f0-1350-11df-a1f1-0026b9348838" 
		    data-concept="1734^DEATH REPORTED BY^99DCT">
	      <option value="">...</option>
 	      <option value="a89cd1c2-1350-11df-a1f1-0026b9348838" oldvalue="1409^WIFE^99DCT">Wife</option>
              <option value="a89cd0fa-1350-11df-a1f1-0026b9348838" oldvalue="1408^HUSBAND^99DCT">Husband</option>
              <option value="a898c0dc-1350-11df-a1f1-0026b9348838" oldvalue="970^MOTHER^99DCT">Mother</option>
              <option value="a898c1a4-1350-11df-a1f1-0026b9348838" oldvalue="971^FATHER^99DCT">Father</option>
	      <option value="a898c32a-1350-11df-a1f1-0026b9348838" oldvalue="973^GRANDPARENT^99DCT">Grandparent</option>
	      <option value="a898c262-1350-11df-a1f1-0026b9348838" oldvalue="972^SIBLING^99DCT">Sibling</option>
	      <option value="a8aaf234-1350-11df-a1f1-0026b9348838" oldvalue="5620^OTHER FAMILY MEMBER^99DCT">Other family member</option>
	      <option value="a8aaf07c-1350-11df-a1f1-0026b9348838" oldvalue="5618^FRIEND^99DCT">Friend</option>
	      <option value="a89cd352-1350-11df-a1f1-0026b9348838" oldvalue="1411^NEIGHBOR^99DCT">Neighbor</option>
	      <option value="a8aaf3e2-1350-11df-a1f1-0026b9348838" oldvalue="5622^OTHER NON-CODED^99DCT">Other</option>		      
	    </select>
	  </div>
	</fieldset>
      </div>
      <div class="form-group"> 
        <label for="obs.reason_to_refuse_care">If refused care, reason: </label>                 
	<select class="form-control" id="obs.reason_to_refuse_care" name="obs__a89e3468-1350-11df-a1f1-0026b9348838" 
		data-concept="1588^REASON TO REFUSE CARE^99DCT">
	  <option value=""></option>
	  <option value="a89e30e4-1350-11df-a1f1-0026b9348838" 
		  oldvalue="1584^FAMILY DISCRIMINATION^99DCT">Family Discrimination (disclosure issues)</option>
 	  
	  <option value="a89e3396-1350-11df-a1f1-0026b9348838" oldvalue="1587^HEALED BY FAITH^99DCT">Believes healed by faith</option>
	  <option value="a89e3274-1350-11df-a1f1-0026b9348838" oldvalue="1586^DENIAL^99DCT">Denial</option>
	  <option value="a89e31ac-1350-11df-a1f1-0026b9348838" oldvalue="1585^COMMUNITY DISCRIMINATION^99DCT">Community Discrimination</option>
	  <option value="a8a097bc-1350-11df-a1f1-0026b9348838" oldvalue="1961^NO LONGER TAKING MEDICINE^99DCT">No longer taking medicines</option>
	  <option value="a8aca1ce-1350-11df-a1f1-0026b9348838" oldvalue="5841^HERBAL TRADITIONAL MEDICATIONS^99DCT">Taking herbals</option>
	  <option value="a8aaf3e2-1350-11df-a1f1-0026b9348838" oldvalue="5622^OTHER NON-CODED^99DCT">Other</option>
	</select>
      </div>
    </div>
    <div id='tabs-5'>
      <div class="form-group">
	<label for='patient_status'>What's the patients clinical status?</label>
	<select id='patient_status' name="obs__7c579743-5ef7-4e2c-839f-5b95597cb01c" data-concept="9082^PATIENT CARE STATUS^99DCT" required>
	  <option></option>
	  <option value="a8af5018-1350-11df-a1f1-0026b9348838" oldvalue='6101^CONTINUE^99DCT'>Patient wishes to remain in care at AMPATH</option>
	  <option value="a89335d6-1350-11df-a1f1-0026b9348838" oldvalue='159^DECEASED^99DCT'>Patient Dead</option>
	  <option value="a89c2f42-1350-11df-a1f1-0026b9348838" oldvalue='1286^AMPATH^99DCT'>Transfer out - to AMPATH AMRS alinic</option>  
	  <option value="6daff4ce-bce7-41f5-9141-17e694155180" oldvalue='9083^SELF DISENGAGED FROM CARE^99DCT'>Patient self-disengaged from care</option>
	  <option value="7e381b07-81d5-4425-be84-f188b61b4bd1" oldvalue='9068^AMPATH, NON-AMRS^99DCT'>Transfer out - to AMPATH non-AMRS clinic</option>
	  <option value="636b7246-51f7-4985-9430-431b09d39bea" oldvalue='9036^HIV NEGATIVE, NO LONGER AT RISK^99DCT'>Patient HIV negative</option>
	  <option value="a89c301e-1350-11df-a1f1-0026b9348838" oldvalue='1287^NON-AMPATH^99DCT'>Transfer out - to non-AMPATH clinic</option>
	  <option value="bea9c288-0650-4b42-a324-1d6d51591c72" oldvalue='9079^UNTRACEABLE^99DCT'>
	    Outreach worker does not believe patient can be traced
	  </option>
	    <option value="07c536bc-19f2-4296-9c4a-edd85f070095" oldvalue='9080^PROCESS OF BEING TRACED^99DCT'>Patient in process of being traced</option>
	</select>
      </div>
      
      <div class="form-group">
	<label for='return_visit_date'>If patient plans to return to clinic, RTC Date:</label> 
	  <input class="form-control datepicker checkFutureDate" data-concept="5096^RETURN VISIT DATE^99DCT" id="return_visit_date" 
		 name="obs__a8a666ba-1350-11df-a1f1-0026b9348838" type="date"/>
      </div>
      <div class="form-group"> 
        <label for="likelihood_of_return">Do you think the patient will return to clinic?</label>                 
	<select class="form-control" id="likelihood_of_return" 
		name="obs__683347ee-cebe-4eac-b366-ef62d68b91c7" data-concept="9077^LIKELIHOOD OF PATIENT RETURNING TO CLINIC^99DCT">
	  <option value=""></option>
	  <option value="9407c0db-5cdc-48a9-8750-85961cf9804f" oldvalue="7248^VERY LOW^99DCT">No</option>
	  <option value="7a260efe-bd7e-4926-87d9-b9e008956873" oldvalue="9078^VERY HIGH^99DCT">Yes</option>
	</select>
      </div>
      <div class="form-group">
	<label for='transfer_location'>If patient transferred to another AMPATH clinic, clinic name:</label>
	<select name='attr__8d87236c-c2cc-11de-8d13-0010c6dffd0f' id='transfer_location'>
	  <option></option>
	</select>
      </div>
      <div class="form-group">
	<label for="provider_uuid">Provider</label>
	<select name='provider_uuid' id='provider_uuid' required>
	  <option></option>
	</select>
      </div>      
      
      <div class="form-group text-center">
	<input id="outreach_form_btn" type="button" value="Submit"/>
      </div>      
    </div>	
</form>
