<div ng-controller="PatientDashboardCtrl">
  <div class="container-fluid">
    <input type="hidden" name="patient_uuid" id="dash_patient_uuid"/>
    <input type="hidden" name="dash_cohort_key" id="dash_cohort_key"/>
    <a class="btn btn-custom btn-lg btn-block" back-button>Back</a>

    <ul class="list-group">
      <li class="list-group-item" style="font-size:large">
	Patient Name: {{patient.getName()}}
      </li>
      <li class="list-group-item" style="font-size:large">Identifier(s) <div ng-repeat="i in patient.getIdentifiers()">{{i.display}}</div></li>
      <li class="list-group-item" style="font-size:large">Birthdate: {{patient.getBirthdate()}}</li>
      <li class="list-group-item" data-role="fieldcontain">
	<div class='ui-grid-b'>
	  <div class='ui-block-a' style="font-size:large;width:100%;">Phone Number:</div>
	  <div class='ui-block-a' style="width:50%">
	    <input style="font-size:large;" name="phone_number" id="dash_phone_number" type="tel" size="10" value="{{patient.getPhoneNumber()}}"/>
	  </div>	
	  <div class='ui-block-b' style="width:50%">
	    <input type='hidden' id='dash_patient_uuid'/>
	    <input type="button" id="update_phone_number_button" onClick="updatePhoneNumberView()" value="Update"/>
	  </div>
	</div>
      </li>
      <li class="list-group-item" style="font-size:large">
	Last Appt Date: {{patient.last_appt_date}}<br/>
	Last Appt Type: <span id="dash_last_encounter_type"></span><br/>
	Last RTC Date: <span id="dash_last_rtc_date"></span><br/>	
      </li>	
    </ul>


    <button class="btn btn-custom btn-lg btn-block" ng-click="encounterHistory = !encounterHistory">Encounter History</button>
    <div collapse="!encounterHistory" >
      <h3>Encounter History</h3>              
      <div id="dash_encounter_data" style="height:350px; overflow:scroll; display:none">
      </div>      
    </div>


    <button class="btn btn-custom btn-lg btn-block" ng-click="tbHistory = !tbHistory">TB History</button>
    <div collapse="!tbHistory" >
      <h3>TB History</h3>              
      <div id="dash_tb_data" style="height:350px; overflow:scroll; display:none">
      </div>      
    </div>

    <button class="btn btn-custom btn-lg btn-block" ng-click="forms = !forms">Forms</button>
    <div collapse="!forms" >
      <div class="list-group">
	<a style="font-size:medium" class="list-group-item" ui-sref="outreach-form({patientUuid:patient.uuid})">Enter Outreach Form</a>
      </div>
    </div>

  </div>
</div>
