

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="list-group">	
	<!--a style="font-size:large" class="list-group-item" ui-sref="amrs">Test AMRS</a>
	<a style="font-size:large" class="list-group-item" ui-sref="django">Test Django</a>
	<a style="font-size:large" class="list-group-item" onClick="javascript:window.open('/encounter_form/view_rest_errors','_self')">View REST Errors</a>
	<a style="font-size:large" class="list-group-item" onClick="javascript:window.open('/hiv_dashboard/index','_self')">HIV Care Dashboard</a>
	<a style="font-size:large" class="list-group-item" onClick="javascript:window.open('/ltfu/index','_self')">Retention</a-->
	<a style="font-size:large" class="list-group-item" ui-sref="patient-search">Patient Search</a>
	<a style="font-size:large" class="list-group-item" ui-sref="defaulter-cohort">Outreach Defaulter Lists</a>
	<a style="font-size:large" class="list-group-item" ui-sref="encounter-forms-saved">Manage Saved Encounter Forms</a>
      </div>
    </div>
  </div>
</div>
