<div ng-controller="AmrsCtrl">
  <div class="container-fluid">
    Test AMRS<br/>

    {{enc.obs}}
    <br/><br/>
    {{finalObs}}
    <br/>

    <p>Obs group test</p>
    <button ng-click='submit()'>Submit</button>
    <encounter-form>

      <obs concept-uuid="t">
	<select>
	  <option/>
	  <option value='i'>i</option>
	  <option value='2'>2</option>
	</select>
      </obs>
      <br/>
      <obs concept-uuid="w">
	<select>
	  <option/>
	  <option value='i'>i</option>
	  <option value='2'>2</option>
	</select>
      </obs>

      <br/>
      
      <obs-group concept-uuid="z" repeat>
	<obs concept-uuid="y">
	  <select>
	    <option/>
	    <option value='b'>b</option>
	    <option value='2'>2</option>
	  </select>
	</obs>
	<obs concept-uuid="x">
	  <select>
	    <option/>
	    <option value='c'>c</option>
	    <option value='2'>2</option>
	  </select>
	</obs>
	
	<obs-group concept-uuid="w">
	  <obs concept-uuid="v">
	    <select>
	      <option/>
	      <option value='e'>e</option>
	      <option value='2'>2</option>
	    </select>
	  </obs>

	</obs-group>
      </obs-group>


    </encounter-form>
    
                                         
 
    <label for="query">Query:</label>
    <input type="text" name="query" id="query" ng-model="q"/>
    <label for="custom">Custom:</label>
    <textarea name="custom" id="custom" rows="5" cols="50" ng-model="v"/>
    <br/>
    <button ng-click="test()">Search</button>
    <br/>
    <br/>
    <button ng-click="getRoles()">Get Roles</button>

    <br/>
    <br/>
    <button ng-click="voidObs()">Void Obs</button>
    <br/><br/>

    <br/>
    <select class="form-control" obs concept-uuid="47a5988a-e5f7-424e-96cc-3b34aeea3c1a" obs-group-id='1'>		 
      <option value="">...</option>
      <option value="a899b35c-1350-11df-a1f1-0026b9348838">Patient</option>
      <option value="a89cd280-1350-11df-a1f1-0026b9348838">Caregiver</option>
      <option value="a8aaf234-1350-11df-a1f1-0026b9348838">Family Member</option>
      <option value="a8aaf07c-1350-11df-a1f1-0026b9348838">Friend</option>
      <option value="a8aaf3e2-1350-11df-a1f1-0026b9348838">Other</option>
    </select>

    {{enc.obs}}

    

    <div>{{result}}</div>
  </div>
</div>

