<div ng-controller="PatientSearchCtrl">
  <div class="container-fluid">
    <a href="#/" class="btn btn-custom btn-lg btn-block">Back</a>
    <hr/>
    <label for="searchString">Enter Patient Name or Identifier</label>
    <input type='text' ng-model="searchString" placeholder="Patient search..."/>      
    <div class="list-group">
      <a href="#/patient/{{patient.uuid}}" class="list-group-item" ng-repeat="patient in patients">
	<b>{{patient.person.preferredName.givenName}} {{patient.person.preferredName.familyName}}</b>
      </a>        
    </div>

  </div>
</div>

