<script src="app/js/formentry/forms/outreach_validation.js"></script>

<div ng-controller='FormEntryCtrl'>
  <div class="container-fluid" style="background-color:#f9f9ff;">
    <a class="btn btn-custom btn-lg btn-block" back-button>Back</a>

    <html-form rules='outreachFormRules'>
	<form novalidate class="simple-form" id="outreach_form" name="outreach_form" method='post' >

	<patient-demographics patient="patient"></patient-demographics>	        
	<br/>
	<div class="row">
	  <div class="col-md-6">
	    <button class="btn btn-custom btn-lg btn-block" ng-click="saveToDrafts()">Save Draft</button><br/>
	  </div>
	  <div class="col-md-6">
	    <button class="btn btn-custom btn-lg btn-block" ng-click="submit()">Submit</button><br/>
	  </div>
	</div>

	<encounter>
	  <tabset vertical="false" type="pills">
	    <tab heading="Encounter Info">	        
	    <br/>

	    <div class="form-group">
              <label for="encounterDatetime">Encounter Date:</label>
              <input type="text" id="encounterDatetime" ng-model="form.encounter.encounterDatetime" name="encounterDatetime"
		     datepicker-popup="yyyy-MM-dd" is-open="dt.open" ng-click="dt.open=true"/>
	    </div>

	    <div class="form-group">
	      <clinic-locations-dropdown name="location" model="form.encounter.location" label="Clinic Location">
	      </clinic-locations-dropdown>
	    </div>

	    <div class="form-group">
	      <outreach-providers-dropdown name="provider" model="form.encounter.provider" label="Provider:"></outreach-providers-dropdown>
	    </div> 


	    <div class="form-group">
	      <person-attribute uuid="72a759a8-1359-11df-a1f1-0026b9348838">
		<label for="phoneNumber">Phone:</label>
		<input name="phone_number" id="phoneNumber" type="text"/>
	      </person-attribute>

	    </div>
	  
	    <div class="form-group">
	      <obs concept-uuid="a89e3896-1350-11df-a1f1-0026b9348838">
		<label for="missedReturnVisitDate">Missed appointment date:</label>	      
		<input type="text" id="missedReturnVisitDate" ng-model="selected" name="missed_return_visit_date" 
		       datepicker-popup="yyyy-MM-dd" is-open="dt2.open" ng-click="dt2.open=true"/>		       		
	      </obs>
	    </div>
	  </tab>
	  
	  <tab heading="Phone Follow-up">
	    <br/>
	    <div class="form-group">
	      <obs concept-uuid="e6c52d7e-3e25-4a83-8f9c-55a03bdc653a">
		<label for="obs.number_of_call_attempts">Number of call attempts:</label>
		<select class="form-control">
		  <option></option>
		  <option>1</option>
		  <option>2</option>
		  <option>3</option>
		  <option>4</option>
		  <option>5</option>
		  <option value=6>More than 5</option>
		</select>
	      </obs>
	    </div>
	    
	    <div class="form-group">	
	      <obs concept-uuid="2b90dbd2-8897-49fd-9784-e5999e7312fa">
		<label for="contacted_by_phone">Was the patient contacted by phone?</label>
		<select class="form-control" id='contacted_by_phone'>
		  <option value=""></option>
    		  <option value='a899b35c-1350-11df-a1f1-0026b9348838' oldvalue='1065^Yes^99DCT'>Yes</option>
		  <option value='a89dec06-1350-11df-a1f1-0026b9348838' oldvalue='1560^PHONE NOT CONNECTING^99DCT'>No, phone not connecting</option>
		  <option value='a69cdbf7-edf0-4e4d-a4dc-1ff3bc771d5c' oldvalue='9064^NO PHONE NUMBER^99DCT'>No, phone number inactive</option>
		  <option value='1965eb6f-fc86-4f44-b3b8-59772b1daa20' oldvalue='9065^WRONG PHONE NUMBER^99DCT'>No, wrong phone number</option>
		  <option value='fdd18cec-11ba-4512-ab3c-b66066847f58' oldvalue='9066^NO RESPONSE ON PHONE CALL ATTEMPT^99DCT'>No, no one picks up</option>
		  <option value='a8aaf3e2-1350-11df-a1f1-0026b9348838' oldvalue='5622^OTHER NON-CODED^99DCT'>No, a different reason</option>
		</select>
	      </obs>
	    </div>
	    
	    <div class="form-group">
	      <obs concept-uuid="47a5988a-e5f7-424e-96cc-3b34aeea3c1a">
		<label for="owner_of_phone">Who does the phone belong to? :</label>
		<select class="form-control" id="owner_of_phone"> 
		  <option value="">...</option>
 		  <option value="a899b35c-1350-11df-a1f1-0026b9348838">Patient</option>
		  <option value="a89cd280-1350-11df-a1f1-0026b9348838">Caregiver</option>
		  <option value="a8aaf234-1350-11df-a1f1-0026b9348838">Family Member</option>
		  <option value="a8aaf07c-1350-11df-a1f1-0026b9348838">Friend</option>
		  <option value="a8aaf3e2-1350-11df-a1f1-0026b9348838">Other</option>
		</select>
	      </obs>
	    </div>
	    <div class="form-group">
	      <obs concept-uuid="3cef9756-ae0e-4b35-9ee2-b0fb96556971">
		<label for="refer_for_field_follow_up">If not contacted, refer for field follow-up?</label>
		<select class="form-control" name="refer_for_field_follow_up">
		  <option/>
		  <option value="a899b35c-1350-11df-a1f1-0026b9348838">Yes</option>
		  <option value="a89de526-1350-11df-a1f1-0026b9348838">No, in catchment but distant too far</option>
		  <option value="83df5f26-f97a-4cda-9c05-d0bdc6e4ebee">No, out of catchment area</option>
		  <option value="a89decc4-1350-11df-a1f1-0026b9348838">No, locator inadequate</option>	  
		</select>
	      </obs>
	    </div>
	  </tab>
	
	  <tab heading="Field Follow-up">
	    <br/>
	    <div class="form-group">
	      <obs concept-uuid="a89deb3e-1350-11df-a1f1-0026b9348838">
		<label for="contacted_in_field">Was the patient found?:</label>	   
		<select class="form-control" name="contacted_in_field">
		  <option/>
		  <option value="true">Yes - true</option>
		  <option value="a899b35c-1350-11df-a1f1-0026b9348838">Yes</option>
		  <option value="false">No - false</option>
		  <option value="a899b42e-1350-11df-a1f1-0026b9348838">No</option>
		</select>
	      </obs>
	    </div>
	    
	    <div class="form-group">
	      <obs concept-uuid="a89de5e4-1350-11df-a1f1-0026b9348838">
		<label for="reason_not_found_in_field">If not found, reason:</label>
		<select class="form-control" name="reason_not_found_in_field">
		  <option/>
 		  <option value='a89decc4-1350-11df-a1f1-0026b9348838'>Locator information inadequate</option>	      
		  <option value='a89ded8c-1350-11df-a1f1-0026b9348838'>Patient moved away</option>		      
		  <option value='a89de21a-1350-11df-a1f1-0026b9348838'>Patient at work</option>
		  <option value='a89dee54-1350-11df-a1f1-0026b9348838'>Patient not at home</option>		      
		  <option value='a89ef826-1350-11df-a1f1-0026b9348838'>Road impassable</option>
		  <option value='a8aaf3e2-1350-11df-a1f1-0026b9348838'>Other</option>		    
		</select>
	      </obs>
	    </div>	    
	    <div class="form-group">
	      <obs concept-uuid="a89fe006-1350-11df-a1f1-0026b9348838">
		<label for="obs.number_of_days_of_remaining_arv_medication">Does the patient have medications remaining? If yes, # of days worth:</label>
		<input id="obs.number_of_days_of_remaining_arv_medication" type="text"/>
	      </obs>
	    </div>
	  </tab>

	  <tab heading="If Found">
	    <br/>
	    <div class="form-group"> 
	      <obs concept-uuid="a89df246-1350-11df-a1f1-0026b9348838">
		<label for="date_found">Date Found:</label>
		<input name='date_found' id="date_found" type="text" datepicker-popup="yyyy-MM-dd" ng-model='selected' is-open="dt3.open" ng-click="dt3.open=true"/>
	      </obs>
	    </div>
	    


	    
	    <div class="form-group">
	      <obs concept-uuid="a89df30e-1350-11df-a1f1-0026b9348838">
		<label for="location_of_contact">Location of contact:</label>
		<select class="form-control" name="location_of_contact" id="location_of_contact">
		  <option value="">...</option>
 		  <option value="a89df17e-1350-11df-a1f1-0026b9348838" oldvalue="1567^HOME^99DCT">Home</option>
		  <option value="a8a087c2-1350-11df-a1f1-0026b9348838" oldvalue="1947^WORK^99DCT">Work</option>
		  <option value="a89de832-1350-11df-a1f1-0026b9348838" oldvalue="1555^PHONE^99DCT">Phone</option>
		  <option value="a89f03ac-1350-11df-a1f1-0026b9348838" oldvalue="1749^SCHOOL^99DCT">School</option>
		  <option value="a8a01a4e-1350-11df-a1f1-0026b9348838" oldvalue="1873^DATA PROVIDED BY AMAPATH RECORDS^99DCT">Patient File</option>
		  <option value="a8aaf3e2-1350-11df-a1f1-0026b9348838" oldvalue="5622^OTHER NON-CODED^99DCT">Other</option>
		</select>
	      </obs>
	    </div>
	    
    	    <div class="form-group" id="reason_missed_div">
	      <label>Reason for Missed Visit:</label>
	      <div class="list-button">
		<obs concept-uuid="a89ef11e-1350-11df-a1f1-0026b9348838">
      		  <input id='obs.reason_for_missed_visit.deceased' type='checkbox' value="a89335d6-1350-11df-a1f1-0026b9348838"/>
		  <label for='obs.reason_for_missed_visit.deceased'>Deceased
		  </label> 
		</obs>		
	      </div>
	      
	      <div class='list-button'>
		<obs concept-uuid="a89ef11e-1350-11df-a1f1-0026b9348838">
		  <input id='obs.reason_for_missed_visit.ampath_clinic_transfer' type='checkbox' value="a89ef060-1350-11df-a1f1-0026b9348838"/>
		  <label for='obs.reason_for_missed_visit.ampath_clinic_transfer'>Transferred Clinic</label>
		</obs>
		
	      </div>
	      <div class='list-button'>
		<obs concept-uuid="a89ef11e-1350-11df-a1f1-0026b9348838">
		  <input id="work_commitments" type='checkbox' value="a89e2a54-1350-11df-a1f1-0026b9348838"/>			 
		  <label for="work_commitments">Work Committments</label>
		</obs>  
	      </div>
	      
	      <div class='list-button'>
		<obs concept-uuid="a89ef11e-1350-11df-a1f1-0026b9348838">
		  <input id='obs.reason_for_missed_visit.family_commitments' type='checkbox' value='a89e291e-1350-11df-a1f1-0026b9348838'/>
		  <label for='obs.reason_for_missed_visit.family_commitments'>Family Committments</label>
		</obs>  
	      </div>
	      
	      <div class='list-button'>
		<obs concept-uuid="a89ef11e-1350-11df-a1f1-0026b9348838">
		  <input type='checkbox' id='obs.reason_for_missed_visit.transport_costs' value="a89e2b30-1350-11df-a1f1-0026b9348838"/> 
		  <label for='obs.reason_for_missed_visit.transport_costs'>Transport Costs</label>
		</obs>  
	      </div>
	      
	      <div class='list-button'>
		<obs concept-uuid="a89ef11e-1350-11df-a1f1-0026b9348838">
		  <input id='obs.reason_for_missed_visit.did_not_miss_appointment' type='checkbox' value="a89e26d0-1350-11df-a1f1-0026b934883"/>
		  <label for='obs.reason_for_missed_visit.did_not_miss_appointment'>Did not actually miss appointment</label>		  
		</obs>
	      </div>  	      
	      
	      <div class='list-button'>
		<obs concept-uuid="a89ef11e-1350-11df-a1f1-0026b9348838">
		  <input id='obs.reason_for_missed_visit.school_commitments' type='checkbox' value="a8a08e7a-1350-11df-a1f1-0026b9348838"/>
		  <label for='obs.reason_for_missed_visit.school_commitments'>School Committments</label>
		</obs>
	      </div>  
	      
	      <div class='list-button'>
		<obs concept-uuid="a89ef11e-1350-11df-a1f1-0026b9348838">
		  <input id='obs.reason_for_missed_visit.travel' type='checkbox' value="a89de152-1350-11df-a1f1-0026b9348838"/>			   
    		  <label for=>Travelled</label>
		</obs>
	      </div>  
	      
	      <div class='list-button'>
		<obs concept-uuid="a89ef11e-1350-11df-a1f1-0026b9348838">
		  <input id='obs.reason_for_missed_visit.insecurity' type='checkbox' value="a8a08cfe-1350-11df-a1f1-0026b9348838"/>			   
    		  <label for='obs.reason_for_missed_visit.insecurity'>Insecurity</label>
		</obs>

	      </div>  
	      
	      <div class='list-button'>
		<obs concept-uuid="a89ef11e-1350-11df-a1f1-0026b9348838">
		  <input id='obs.reason_for_missed_visit.forgot_appointment' type='checkbox' value="a89e27f2-1350-11df-a1f1-0026b9348838"/>
    		  <label for='obs.reason_for_missed_visit.forgot_appointment'>Forgot appointment</label>
		</obs>
	      </div>  
	      
	      <div class='list-button'>
		<obs concept-uuid="a89ef11e-1350-11df-a1f1-0026b9348838">
		  <input id='obs.reason_for_missed_visit.health_issues' type='checkbox' value="a89de2d8-1350-11df-a1f1-0026b9348838"/>
    		  <label for='obs.reason_for_missed_visit.health_issues'>To ill to come</label>
		</obs>
	      </div>  
	      
	      
	      <div class='list-button'>
		<obs concept-uuid="a89ef11e-1350-11df-a1f1-0026b9348838">
		  <input id='obs.reason_for_missed_visit.in_good_health' type='checkbox' value="81033c9e-80d4-445a-9899-3a6a9c9520ee"/>
		  <label for='obs.reason_for_missed_visit.in_good_health'>Had medications and felt well</label>
		</obs>
	      </div>  
	      
	      <div class='list-button'>
		<obs concept-uuid="a89ef11e-1350-11df-a1f1-0026b9348838">
		  <input id='obs.reason_for_missed_visit.family_conflict' type='checkbox' value="ec9227a3-d078-4ed0-bdc3-e8328a9e549e"/>
		  <label for='obs.reason_for_missed_visit.family_conflict'>Family conflict</label>
		</obs>
	      </div>  
    	      
	      <div class='list-button'>
		<obs concept-uuid="a89ef11e-1350-11df-a1f1-0026b9348838">
		    <input id='obs.reason_for_missed_visit.conflicting_return_to_clinic_dates' type='checkbox' 
			   value="04b9e1ce-3463-495b-9c08-7a1a2db779ba"/>
		    <label for='obs.reason_for_missed_visit.conflicting_return_to_clinic_dates'>
		      Patient given different date than in AMRS
		    </label>
		</obs>
	      </div>      	      
	      
	      <div class='list-button'>
		<obs concept-uuid="a89ef11e-1350-11df-a1f1-0026b9348838">
		  <input type='checkbox' id='reason_for_missed_visit.admitted' value="057dae68-3d6f-4d79-926c-ed75a0ce7fd5"/>			   
		  <label for='reason_for_missed_visit.admitted'>Patient was admitted</label>
		</obs>
	      </div>  
    	      
	      <div class='list-button'>
		<obs concept-uuid="a89ef11e-1350-11df-a1f1-0026b9348838">
		  <input id='obs.reason_for_missed_visit.refusal' type='checkbox' value="a89d25fa-1350-11df-a1f1-0026b9348838"/>
    		  <label for='obs.reason_for_missed_visit.refusal'>Patient Refused</label>
		</obs>
	      </div>  
	      
	      <div class='list-button'>
		<obs concept-uuid="a89ef11e-1350-11df-a1f1-0026b9348838">
		  <input id='obs.reason_for_missed_visit.other_non_coded' type='checkbox' value="a8aaf3e2-1350-11df-a1f1-0026b9348838"/>
    		  <label for='obs.reason_for_missed_visit.other_non_coded'>Other</label>
	      	</obs>
	      </div>  
	    </div>
 	    
 	    
	    <div class="form-group"> 
	      <obs concept-uuid="a89e3468-1350-11df-a1f1-0026b9348838">
		<label for="obs.reason_to_refuse_care">If refused care, reason: </label>
		<select class="form-control" id="obs.reason_to_refuse_care">
		  <option value=""></option>
		  <option value="a89e30e4-1350-11df-a1f1-0026b9348838">Family Discrimination (disclosure issues)</option>
		  <option value="a89e3396-1350-11df-a1f1-0026b9348838" oldvalue="1587^HEALED BY FAITH^99DCT">Believes healed by faith</option>
		  <option value="a89e3274-1350-11df-a1f1-0026b9348838" oldvalue="1586^DENIAL^99DCT">Denial</option>
		  <option value="a89e31ac-1350-11df-a1f1-0026b9348838" oldvalue="1585^COMMUNITY DISCRIMINATION^99DCT">Community Discrimination</option>
		  <option value="a8a097bc-1350-11df-a1f1-0026b9348838" oldvalue="1961^NO LONGER TAKING MEDICINE^99DCT">No longer taking medicines</option>
		  <option value="a8aca1ce-1350-11df-a1f1-0026b9348838" oldvalue="5841^HERBAL TRADITIONAL MEDICATIONS^99DCT">Taking herbals</option>
		  <option value="a8aaf3e2-1350-11df-a1f1-0026b9348838" oldvalue="5622^OTHER NON-CODED^99DCT">Other</option>
		</select>
	      </obs>
	    </div>
	    
	  <div class='form-group'>
	    <fieldset data-role="controlgroup">
	      <legend>If deceased:</legend>
	      <div class="form-group">
		<obs concept-uuid="a89df3d6-1350-11df-a1f1-0026b9348838">
		  <label for="date_of_death">Death date:</label>
		  <input name="date_of_death" id="date_of_death" type="text" ng-model='selected' datepicker-popup="yyyy-MM-dd" is-open="dt4.open" ng-click="dt4.open=true"/>
		</obs>
	      </div>
	      <div class="form-group">
		<obs concept-uuid="a89df750-1350-11df-a1f1-0026b9348838">
		  <label for="cause_for_death">Cause of death:</label>
		  <select class="form-control" name="cause_for_death" id="cause_for_death"> 
		    <option value="">...</option>
		    <option value="a89de2d8-1350-11df-a1f1-0026b9348838" oldvalue="1548^HEALTH ISSUES^99DCT">Illness</option>
 		    <option value="a89df49e-1350-11df-a1f1-0026b9348838" oldvalue="1571^SUICIDE^99DCT">Suicide</option>
		    <option value="a890bfcc-1350-11df-a1f1-0026b9348838" oldvalue="84^ACCIDENT, NOT OTHERWISE SPECIFIED^99DCT">Accident</option>
		    <option value="a89df67e-1350-11df-a1f1-0026b9348838" oldvalue="1572^MURDER^99DCT">Murder</option>
		    <option value="a899b50a-1350-11df-a1f1-0026b9348838" oldvalue="1067^UNKNOWN^99DCT">Unknown</option>
		    <option value="a8aaf3e2-1350-11df-a1f1-0026b9348838" oldvalue="5622^OTHER NON-CODED^99DCT">Other</option>
		  </select>
		</obs>
	      </div>
	      <div class="form-group">
		<label for="obs.death_reported_by">Reported by:</label>
		<obs concept-uuid="a89ef1f0-1350-11df-a1f1-0026b9348838">
		  <select class="form-control">
		    <option value="">...</option>
 		    <option value="a89cd1c2-1350-11df-a1f1-0026b9348838" oldvalue="1409^WIFE^99DCT">Wife</option>
		    <option value="a89cd0fa-1350-11df-a1f1-0026b9348838" oldvalue="1408^HUSBAND^99DCT">Husband</option>
		    <option value="a898c0dc-1350-11df-a1f1-0026b9348838" oldvalue="970^MOTHER^99DCT">Mother</option>
		    <option value="a898c1a4-1350-11df-a1f1-0026b9348838" oldvalue="971^FATHER^99DCT">Father</option>
		    <option value="a898c32a-1350-11df-a1f1-0026b9348838" oldvalue="973^GRANDPARENT^99DCT">Grandparent</option>
		    <option value="a898c262-1350-11df-a1f1-0026b9348838" oldvalue="972^SIBLING^99DCT">Sibling</option>
		    <option value="a8aaf234-1350-11df-a1f1-0026b9348838" oldvalue="5620^OTHER FAMILY MEMBER^99DCT">Other family member</option>
		    <option value="a8aaf07c-1350-11df-a1f1-0026b9348838" oldvalue="5618^FRIEND^99DCT">Friend</option>
		    <option value="a89cd352-1350-11df-a1f1-0026b9348838" oldvalue="1411^NEIGHBOR^99DCT">Neighbor</option>
		    <option value="a8aaf3e2-1350-11df-a1f1-0026b9348838" oldvalue="5622^OTHER NON-CODED^99DCT">Other</option>		      
		  </select>
		</obs>
	      </div>
	    </fieldset>
	  </div>
	  
	  </tab>
	  <tab heading="Finish">    
	    <br/>
	    <div class="form-group">
	      <obs concept-uuid="7c579743-5ef7-4e2c-839f-5b95597cb01c">
		<label for='patient_status'>What's the patients clinical status?</label>
		<select name='patient_status' class="form-control" id='patient_status'>
		  <option></option>
		  <option value="a8af5018-1350-11df-a1f1-0026b9348838" oldvalue='6101^CONTINUE^99DCT'>Patient wishes to remain in care at AMPATH</option>
		  <option value="a89335d6-1350-11df-a1f1-0026b9348838" oldvalue='159^DECEASED^99DCT'>Patient Dead</option>
		  <option value="a89c2f42-1350-11df-a1f1-0026b9348838" oldvalue='1286^AMPATH^99DCT'>Transfer out - to AMPATH AMRS alinic</option>
		  <option value="6daff4ce-bce7-41f5-9141-17e694155180" oldvalue='9083^SELF DISENGAGED FROM CARE^99DCT'>Patient self-disengaged from care</option>
		  <option value="7e381b07-81d5-4425-be84-f188b61b4bd1" oldvalue='9068^AMPATH, NON-AMRS^99DCT'>Transfer out - to AMPATH non-AMRS clinic</option>
		  <option value="636b7246-51f7-4985-9430-431b09d39bea" oldvalue='9036^HIV NEGATIVE, NO LONGER AT RISK^99DCT'>Patient HIV negative</option>
		  <option value="a89c301e-1350-11df-a1f1-0026b9348838" oldvalue='1287^NON-AMPATH^99DCT'>Transfer out - to non-AMPATH clinic</option>
		  <option value="bea9c288-0650-4b42-a324-1d6d51591c72" oldvalue='9079^UNTRACEABLE^99DCT'>
		    Outreach worker does not believe patient can be traced
		  </option>
		  <option value="07c536bc-19f2-4296-9c4a-edd85f070095" oldvalue='9080^PROCESS OF BEING TRACED^99DCT'>Patient in process of being traced</option>
	      </select></obs>
	    </div>
	    
	    <div class="form-group">
	      <obs concept-uuid="a8a666ba-1350-11df-a1f1-0026b9348838"> 
		<label for='return_visit_date'>If patient plans to return to clinic, RTC Date:</label>
		<input name="return_visit_date" id="return_visit_date" ng-model="selected" type="text"		   
		       datepicker-popup="yyyy-MM-dd" is-open="dt5.open" ng-click="dt5.open=true"/>
	      </obs>
	    </div>
	    <div class="form-group"> 
	      <obs concept-uuid="683347ee-cebe-4eac-b366-ef62d68b91c7">
		<label for="likelihood_of_return">Do you think the patient will return to clinic?</label>
		<select class="form-control" name="likelihood_of_return" id="likelihood_of_return" 
			data-concept="9077^LIKELIHOOD OF PATIENT RETURNING TO CLINIC^99DCT">
		  <option value=""></option>

		  <option value="9407c0db-5cdc-48a9-8750-85961cf9804f" oldvalue="7248^VERY LOW^99DCT">No</option>
		  <option value="7a260efe-bd7e-4926-87d9-b9e008956873" oldvalue="9078^VERY HIGH^99DCT">Yes</option>
		</select>
	      </obs>
	    </div>
	    
	    <div class="form-group">
	      
	      <clinic-locations-dropdown 
		 name="transfer_location" 
		 label="Clinical Home: (Please update if patient has transferred)"
		 model="form.personAttributes['8d87236c-c2cc-11de-8d13-0010c6dffd0f']"
		 >
	      </clinic-locations-dropdown>
	    </div>


	  </tab>
	</tabset>
	</encounter>
      </form>
    </html-form>
  </div>
</div>
