<div ng-controller="SavedFormsCtrl">
    <div class="container-fluid">
    <a href="#/" class="btn btn-custom btn-lg btn-block">Back</a>
    <hr/>
    <button class="btn btn-custom btn-lg btn-block" ng-click="submitAllLocal()">Submit all saved forms</button>

    <div class="list-group">
      <a ui-sref="encounter-form({hash:hash,formUuid:enc.form})" class="list-group-item" ng-repeat="(hash,enc) in savedEncounterForms">
	<b>{{enc.p.getName() + ' : ' + enc.encounterDatetime.substring(0,10)}}</b>
      </a>        
    </div>
  </div>
</div>
